<%= form_with(model: teste_device, local: true) do |form| %>
  <% if teste_device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teste_device.errors.count, "error") %> prohibited this teste_device from being saved:</h2>

      <ul>
      <% teste_device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :teste %>
    <%= form.text_area :teste %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
