<p id="notice"><%= notice %></p>

<h1>Teste Devices</h1>

<table>
  <thead>
    <tr>
      <th>Teste</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teste_devices.each do |teste_device| %>
      <tr>
        <td><%= teste_device.teste %></td>
        <td><%= link_to 'Show', teste_device %></td>
        <td><%= link_to 'Edit', edit_teste_device_path(teste_device) %></td>
        <td><%= link_to 'Destroy', teste_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teste Device', new_teste_device_path %>
