<p id="notice"><%= notice %></p>

<p>
  <strong>Teste:</strong>
  <%= @teste_device.teste %>
</p>

<%= link_to 'Edit', edit_teste_device_path(@teste_device) %> |
<%= link_to 'Back', teste_devices_path %>
