<!DOCTYPE html>


<html>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <head>
    <title>AulaBack2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
    <%= link_to 'Encerrar sessão', destroy_user_session_path, method: :delete, class: 'button'%>
    </header>

    <%= yield %>
  </body>
</html>
